<%= simple_form_for @todo, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :due_date, :as => :string, :input_html => { :value => @todo.due_date.strftime("%Y-%m-%d %H:%M") } %>
  <%= f.association :tags, :collection => current_user.tags %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                todos_path, :class => 'btn' %>			
  </div>
<% end %>
