<%= div_for todo, :class => cycle("gray", "") do %>
  <span class="name span4">
    <span class="star">
      <% if todo.starred %>
        <%= link_to "<i class='icon-star'></i>".html_safe, unstar_todo_path(todo), :remote => true %>
      <% else %>
        <%= link_to "<i class='icon-star-empty'></i>".html_safe, star_todo_path(todo), :remote => true %>
      <% end %>
    </span>
    <%= todo.name %>
  </span>
  <div class="created_at span2">
    <%= time_ago_in_words(todo.created_at) %>
    <div class="todo_actions">
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_todo_path(todo), :class => 'btn btn-mini' %>
      <%= link_to t('done'),
        todo_path(todo),
        :method => :delete,
        :remote => true,
        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
        :class => 'btn btn-mini btn-danger' %>
    </div>
  </div>
  <div class="clearfix"></div>
<% end %>
