<%= div_for todo, :class => cycle("gray", "") do %>
  <div class="name span4">
    <span class="star">
      <% if todo.starred %>
        <%= link_to "<i class='icon-star'></i>".html_safe, unstar_todo_path(todo), :remote => true %>
      <% else %>
        <%= link_to "<i class='icon-star-empty'></i>".html_safe, star_todo_path(todo), :remote => true %>
      <% end %>
    </span>
    <%= todo.name %>
    <span class="todo_tags">
      <%= todo.tags.map { |tag| tag.name }.join(", ") %>
    </span>
  </div>
  <div class="created_at span3">
    <%= distance_of_time_in_words(DateTime.now, todo.due_date) unless todo.due_date.nil? %>
    <br>
    created <%= time_ago_in_words(todo.created_at) %> ago
    <div class="todo_actions">
      <% if todo.completed_at.nil? %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
          edit_todo_path(todo), :class => 'btn btn-mini' %>
        <%= link_to t('done'),
          complete_todo_path(todo),
          :method => :delete,
          :remote => true,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '')) },
          :class => 'btn btn-mini btn-success' %>
      <% else %>
        <span><%= t(:completed) %></span>
        <%= link_to t('delete'),
          todo_path(todo),
          :method => :delete,
          :remote => true,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-mini btn-danger' %>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
<% end %>