<%- model_class = Todo -%>
<div class="page-header">
	<% if controller.controller_name == 'tags' %>
		<h1>Todos for tag: <%= @tag.name %></h1>
	<% else %>
  	<h1><%= link_to t(:todos), todos_path, :class => 'title' %></h1>
  <% end %>
</div>

<div class="span2">
	<div id="tags">
		<h3><%= link_to t(:tags), tags_path %></h3>
		<%= render current_user.tags %>
	</div>

	<%= simple_form_for(Tag.new, remote: true) do |f| %>
		<%= f.input :name, label: false, placeholder: 'type to enter new tag' %>
	<% end %>
</div>
<div class="span7">
	<%= simple_form_for(Todo.new, remote: true, :html => { :class => 'form-horizontal' }) do |f| %>
	  <%= f.input :name, label: :new_todo %>
	<% end %>
	<%= link_to "show all todos (includes completed ones)", all_todos_path %>
	<div id="todos">
	  <%= render @todos %>
	</div>
</div>