<%- model_class = Todo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="span2">
	<div id="tags">
		<h3>Tags</h3>
		<%= render current_user.tags %>
	</div>

	<%= simple_form_for(Tag.new, remote: true) do |f| %>
		<%= f.input :name, label: false, placeholder: 'type to enter new tag' %>
	<% end %>
</div>
<div class="span7">
	<%= link_to "show all todos (includes completed ones)", all_todos_path %>
	<div id="todos">
	  <%= render @todos %>
	</div>

	<%= simple_form_for(Todo.new, remote: true, :html => { :class => 'form-horizontal' }) do |f| %>
	  <%= f.input :name, label: :new_todo %>
	<% end %>
</div>