<%- model_class = Todo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= link_to "show all todos (includes completed ones)", all_todos_path %>
<div id="todos">
  <%= render @todos %>
</div>

<%= simple_form_for(Todo.new, remote: true, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.input :name %>
<% end %>
